In [49]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [46]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Lebu,CL,2021-01-15 23:49:46,-37.6167,-73.6500,57.63,77,0,15.90
1,1,Atuona,PF,2021-01-15 23:49:46,-9.8000,-139.0333,77.56,77,13,12.35
2,2,Cape Town,ZA,2021-01-15 23:49:46,-33.9258,18.4232,66.99,88,20,8.05
3,3,Rikitea,PF,2021-01-15 23:49:46,-23.1203,-134.9692,79.57,66,16,8.19
4,4,Basco,PH,2021-01-15 23:49:46,20.4487,121.9702,73.49,79,25,28.12

In [47]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [48]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
#Add the following code to a new cell and run the cell.
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
#Add the following code to a new cell and run the cell.
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
#Add the following code to a new cell and run the cell.
# Heatmap of percent Wind
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Atuona,PF,2021-01-15 23:49:46,-9.8000,-139.0333,77.56,77,13,12.35
3,3,Rikitea,PF,2021-01-15 23:49:46,-23.1203,-134.9692,79.57,66,16,8.19
5,5,Hilo,US,2021-01-15 23:49:47,19.7297,-155.0900,84.20,48,1,11.50
14,14,Mahebourg,MU,2021-01-15 23:49:47,-20.4081,57.7000,78.80,94,40,6.91
17,17,Bonthe,SL,2021-01-15 23:49:47,7.5264,-12.5050,78.04,87,27,7.78
19,19,Bairiki,KI,2021-01-15 23:49:48,1.3292,172.9752,82.40,74,75,14.97
24,24,Avarua,CK,2021-01-15 23:48:03,-21.2078,-159.7750,86.00,70,33,11.50
26,26,Dingle,PH,2021-01-15 23:46:04,10.9995,122.6711,78.69,86,35,12.33
28,28,Kapaa,US,2021-01-15 23:49:49,22.0752,-159.3190,80.60,74,1,11.50
34,34,Georgetown,MY,2021-01-15 23:47:31,5.4112,100.3354,78.01,94,20,5.75

In [11]:
preferred_cities_df.count()

City_ID       166
City          166
Country       166
Date          166
Lat           166
Lng           166
Max Temp      166
Humidity      166
Cloudiness    166
Wind Speed    166
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
1       Atuona      PF     77.56  -9.8000 -139.0333
3      Rikitea      PF     79.57 -23.1203 -134.9692
5         Hilo      US     84.20  19.7297 -155.0900
14   Mahebourg      MU     78.80 -20.4081   57.7000
17      Bonthe      SL     78.04   7.5264  -12.5050
19     Bairiki      KI     82.40   1.3292  172.9752
24      Avarua      CK     86.00 -21.2078 -159.7750
26      Dingle      PH     78.69  10.9995  122.6711
28       Kapaa      US     80.60  22.0752 -159.3190
34  Georgetown      MY     78.01   5.4112  100.3354

In [31]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [33]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [50]:
hotel_df.head(50)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Atuona,PF,77.56,-9.8000,-139.0333,Villa Enata
3,Rikitea,PF,79.57,-23.1203,-134.9692,Pension Maro'i
5,Hilo,US,84.20,19.7297,-155.0900,Hilo Hawaiian Hotel
14,Mahebourg,MU,78.80,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
17,Bonthe,SL,78.04,7.5264,-12.5050,Bonthe Holiday Village
19,Bairiki,KI,82.40,1.3292,172.9752,Tarawa Boutique Hotel
24,Avarua,CK,86.00,-21.2078,-159.7750,Paradise Inn
26,Dingle,PH,78.69,10.9995,122.6711,SEGAYA PROPERTY
28,Kapaa,US,80.60,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
34,Georgetown,MY,78.01,5.4112,100.3354,Cititel Penang
48,Nioro,GM,75.69,13.3500,-15.7500,
49,Bubaque,GW,77.41,11.2833,-15.8333,"Casa Dora, Bubaque"
50,Gabriel Leyva Solano,MX,78.01,25.6667,-108.6417,The Big Boss House
63,San Pedro,PH,81.00,14.3500,121.0167,OYO 412 Viewfort Venue
67,Nieuw Amsterdam,SR,77.00,5.8833,-55.0833,Hotel Stardust
68,Vaini,TO,86.00,-21.2000,-175.2000,Keleti Beach Resort
69,Mombasa,KE,76.77,-4.0547,39.6636,New Palm Tree Hotel
70,Butaritari,KI,81.34,3.0707,172.7902,Isles Sunset Lodge
71,Richards Bay,ZA,77.29,-28.7830,32.0377,BON Hotel Waterfront Richards Bay
72,Bambous Virieux,MU,80.01,-20.3428,57.7575,Casa Tia Villa
73,Acapulco,MX,82.40,16.8634,-99.8901,HS Hotsson Smart Acapulco
76,Cidreira,BR,76.55,-30.1811,-50.2056,Hotel Castelo
91,Sahuaripa,MX,75.92,29.0500,-109.2333,Hotel El Molino
93,Ende,ID,80.73,-8.8432,121.6623,Dwi Putra Hotel - Ende
95,Vila Velha,BR,78.80,-20.3297,-40.2925,Hotel Vitória Palace
105,Cabo San Lucas,MX,78.01,22.8909,-109.9124,Hotel Tesoro Los Cabos
107,Kloulklubed,PW,80.60,7.0419,134.2556,Storyboard Beach Resort
108,Mar Del Plata,AR,75.20,-38.0023,-57.5575,Gran Hotel Mar del Plata
109,Saint-Philippe,RE,78.80,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
111,Bathsheba,BB,78.80,13.2167,-59.5167,Atlantis Hotel
114,Kirakira,SB,79.39,-10.4544,161.9205,SanBiz Lodge
115,Puerto Ayora,EC,75.99,-0.7393,-90.3518,Castillo Galapagos
116,Hithadhoo,MV,81.48,-0.6000,73.0833,Scoop Guest House
119,Sao Joao Da Barra,BR,76.44,-21.6403,-41.0511,Pousada Porto De Canoas
123,Gondanglegi,ID,78.01,-7.7479,112.0132,Gg. Munasir Homestay
129,Port Hedland,AU,89.60,-20.3167,118.5667,The Esplanade Hotel
133,Winneba,GH,80.60,5.3511,-0.6231,Windy Lodge & Beach Resort
140,Kavieng,PG,75.60,-2.5744,150.7967,Nusa Island Retreat
146,Tamandare,BR,76.64,-8.7597,-35.1047,Pousada 100 Passos
149,Harper,LR,77.79,4.3750,-7.7169,Screensaver
154,Saint-Pierre,RE,78.80,-21.3393,55.4781,Lindsey Hôtel
155,Moyo,UG,78.01,3.6609,31.7247,Amelia Guest House
157,Ahuimanu,US,82.00,21.4447,-157.8378,Paradise Bay Resort
161,Puerto El Triunfo,SV,89.60,13.2833,-88.5500,Hotel Jardin
162,San Ignacio,BZ,80.60,17.1561,-89.0714,Rainforest Haven Inn
164,Mareeba,AU,86.00,-17.0000,145.4333,Trinity Plains Tourist Park
170,Inhambane,MZ,80.51,-23.8650,35.3833,Oceano
174,Lorengau,PG,84.76,-2.0226,147.2712,Lorengau Harbourside Hotel
176,Nampula,MZ,77.00,-15.1165,39.2666,Tacab Residencial
191,Lufilufi,WS,87.80,-13.8745,-171.5986,Leuaina Beach Resort and Spa

In [51]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [43]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [44]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))