## Deliverable 2. Create a Customer Travel Destinations Map.

In [19]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [20]:
import sys 
sys.executable

'C:\\Users\\dan.marks\\Anaconda3\\envs\\PythonData\\python.exe'

In [21]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../weather_data/WeatherPy_challenge.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current description,Rain inches(last 3 hrs),Snow inches(last 3 hrs)
0,0,Tevriz,57.5090,72.4042,5.13,93,100,6.53,RU,2021-01-16 01:09:30,overcast clouds,0,0
1,1,Nanortalik,60.1432,-45.2371,25.90,94,99,9.37,GL,2021-01-16 01:09:31,overcast clouds,0,0
2,2,Hilo,19.7297,-155.0900,82.40,57,20,13.80,US,2021-01-16 01:09:31,few clouds,0,0
3,3,Port Macquarie,-31.4333,152.9167,82.99,31,0,1.99,AU,2021-01-16 01:09:31,clear sky,0,0
4,4,Vaini,-21.2000,-175.2000,87.80,74,75,11.50,TO,2021-01-16 01:09:31,broken clouds,0,0

In [22]:
city_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 724 entries, 0 to 723
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   City_ID                  724 non-null    int64
 1   City                     724 non-null    object
 2   Lat                      724 non-null    float64
 3   Lng                      724 non-null    float64
 4   Max Temp                 724 non-null    float64
 5   Humidity                 724 non-null    int64
 6   Cloudiness               724 non-null    int64
 7   Wind Speed               724 non-null    float64
 8   Country                  718 non-null    object
 9   Date                     724 non-null    object
 10  Current description      724 non-null    object
 11  Rain inches(last 3 hrs)  724 non-null    int64
 12  Snow inches(last 3 hrs)  724 non-null    int64
dtypes: float64(4), int64(5), object(4)
memory usage: 73.7+ KB

In [23]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [24]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current description,Rain inches(last 3 hrs),Snow inches(last 3 hrs)
2,2,Hilo,19.7297,-155.0900,82.40,57,20,13.80,US,2021-01-16 01:09:31,few clouds,0,0
3,3,Port Macquarie,-31.4333,152.9167,82.99,31,0,1.99,AU,2021-01-16 01:09:31,clear sky,0,0
4,4,Vaini,-21.2000,-175.2000,87.80,74,75,11.50,TO,2021-01-16 01:09:31,broken clouds,0,0
5,5,Canutama,-6.5339,-64.3831,74.61,91,100,1.66,BR,2021-01-16 01:09:31,overcast clouds,0,0
10,10,Kapaa,22.0752,-159.3190,78.01,88,90,4.61,US,2021-01-16 01:09:31,light rain,0,0
12,12,Key Largo,25.0865,-80.4473,71.01,76,98,9.37,US,2021-01-16 01:06:10,overcast clouds,0,0
15,15,Rikitea,-23.1203,-134.9692,79.68,66,0,8.10,PF,2021-01-16 01:09:32,clear sky,0,0
16,16,Mount Isa,-20.7333,139.5000,95.00,20,4,12.66,AU,2021-01-16 01:09:32,clear sky,0,0
20,20,Cap Malheureux,-19.9842,57.6142,80.01,84,95,4.00,MU,2021-01-16 01:09:32,overcast clouds,0,0
27,27,Souillac,-20.5167,57.5167,78.80,94,40,4.61,MU,2021-01-16 01:09:33,scattered clouds,0,0

In [26]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                    240
City                       240
Lat                        240
Lng                        240
Max Temp                   240
Humidity                   240
Cloudiness                 240
Wind Speed                 240
Country                    237
Date                       240
Current description        240
Rain inches(last 3 hrs)    240
Snow inches(last 3 hrs)    240
dtype: int64

In [27]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df=preferred_cities_df.dropna()

clean_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current description,Rain inches(last 3 hrs),Snow inches(last 3 hrs)
2,2,Hilo,19.7297,-155.0900,82.40,57,20,13.80,US,2021-01-16 01:09:31,few clouds,0,0
3,3,Port Macquarie,-31.4333,152.9167,82.99,31,0,1.99,AU,2021-01-16 01:09:31,clear sky,0,0
4,4,Vaini,-21.2000,-175.2000,87.80,74,75,11.50,TO,2021-01-16 01:09:31,broken clouds,0,0
5,5,Canutama,-6.5339,-64.3831,74.61,91,100,1.66,BR,2021-01-16 01:09:31,overcast clouds,0,0
10,10,Kapaa,22.0752,-159.3190,78.01,88,90,4.61,US,2021-01-16 01:09:31,light rain,0,0

In [30]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current description", "Lat", "Lng"]].copy()


hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
2,Hilo,US,82.40,few clouds,19.7297,-155.0900,
3,Port Macquarie,AU,82.99,clear sky,-31.4333,152.9167,
4,Vaini,TO,87.80,broken clouds,-21.2000,-175.2000,
5,Canutama,BR,74.61,overcast clouds,-6.5339,-64.3831,
10,Kapaa,US,78.01,light rain,22.0752,-159.3190,
12,Key Largo,US,71.01,overcast clouds,25.0865,-80.4473,
15,Rikitea,PF,79.68,clear sky,-23.1203,-134.9692,
16,Mount Isa,AU,95.00,clear sky,-20.7333,139.5000,
20,Cap Malheureux,MU,80.01,overcast clouds,-19.9842,57.6142,
27,Souillac,MU,78.80,scattered clouds,-20.5167,57.5167,

In [31]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [32]:
hotel_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 237 entries, 2 to 720
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City                 237 non-null    object
 1   Country              237 non-null    object
 2   Max Temp             237 non-null    float64
 3   Current description  237 non-null    object
 4   Lat                  237 non-null    float64
 5   Lng                  237 non-null    float64
 6   Hotel Name           237 non-null    object
dtypes: float64(3), object(4)
memory usage: 24.8+ KB

In [33]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df=hotel_df.dropna()

hotel_df.head()

,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
2,Hilo,US,82.40,few clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
3,Port Macquarie,AU,82.99,clear sky,-31.4333,152.9167,Rydges Port Macquarie
4,Vaini,TO,87.80,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
5,Canutama,BR,74.61,overcast clouds,-6.5339,-64.3831,Hotel Jhennifer
10,Kapaa,US,78.01,light rain,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach

In [34]:
# 8a. Create the output File (CSV)
# Create the output file (CSV).
output_data_file = "../weather_data/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [35]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [36]:

# 11a. Add a marker layer for each city to the map. 
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))