In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Lebu,CL,2021-01-15 23:49:46,-37.6167,-73.6500,57.63,77,0,15.90
1,1,Atuona,PF,2021-01-15 23:49:46,-9.8000,-139.0333,77.56,77,13,12.35
2,2,Cape Town,ZA,2021-01-15 23:49:46,-33.9258,18.4232,66.99,88,20,8.05
3,3,Rikitea,PF,2021-01-15 23:49:46,-23.1203,-134.9692,79.57,66,16,8.19
4,4,Basco,PH,2021-01-15 23:49:46,20.4487,121.9702,73.49,79,25,28.12

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
#Add the following code to a new cell and run the cell.
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
#Add the following code to a new cell and run the cell.
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
#Add the following code to a new cell and run the cell.
# Heatmap of percent Wind
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Atuona,PF,2021-01-15 23:49:46,-9.8000,-139.0333,77.56,77,13,12.35
3,3,Rikitea,PF,2021-01-15 23:49:46,-23.1203,-134.9692,79.57,66,16,8.19
5,5,Hilo,US,2021-01-15 23:49:47,19.7297,-155.0900,84.20,48,1,11.50
14,14,Mahebourg,MU,2021-01-15 23:49:47,-20.4081,57.7000,78.80,94,40,6.91
17,17,Bonthe,SL,2021-01-15 23:49:47,7.5264,-12.5050,78.04,87,27,7.78
19,19,Bairiki,KI,2021-01-15 23:49:48,1.3292,172.9752,82.40,74,75,14.97
24,24,Avarua,CK,2021-01-15 23:48:03,-21.2078,-159.7750,86.00,70,33,11.50
26,26,Dingle,PH,2021-01-15 23:46:04,10.9995,122.6711,78.69,86,35,12.33
28,28,Kapaa,US,2021-01-15 23:49:49,22.0752,-159.3190,80.60,74,1,11.50
34,34,Georgetown,MY,2021-01-15 23:47:31,5.4112,100.3354,78.01,94,20,5.75

In [11]:
preferred_cities_df.count()

City_ID       166
City          166
Country       166
Date          166
Lat           166
Lng           166
Max Temp      166
Humidity      166
Cloudiness    166
Wind Speed    166
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
1       Atuona      PF     77.56  -9.8000 -139.0333
3      Rikitea      PF     79.57 -23.1203 -134.9692
5         Hilo      US     84.20  19.7297 -155.0900
14   Mahebourg      MU     78.80 -20.4081   57.7000
17      Bonthe      SL     78.04   7.5264  -12.5050
19     Bairiki      KI     82.40   1.3292  172.9752
24      Avarua      CK     86.00 -21.2078 -159.7750
26      Dingle      PH     78.69  10.9995  122.6711
28       Kapaa      US     80.60  22.0752 -159.3190
34  Georgetown      MY     78.01   5.4112  100.3354